*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*TODO: adjust colors later*/
:root {
    --text-heading: #0A0A0A;
    --text-general: #111010;
    --text-code: #3a3a3a;
    --main-background: #eaeaea;
    --odd-section-background: #c9c9c9;
    --even-section-background: #a7a7a7;
    --code-background: #f0f0f0;
}

body { 
    font-size: 1em;
}

main {
    background-color: var(--main-background);
}

h1, h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    color: var(--text-heading);
}

h1 {
    font-size: 1.85em;
    text-align: center;
}

h2 {
    font-size: 1.35em;
    margin-left: 1.9em;
}
